<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv=’cache-control’ content=’no-cache’>
    <meta http-equiv=’expires’ content=’0′>
    <meta http-equiv=’pragma’ content=’no-cache’>
    <title>GetGiv</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/share_books.css">
  </head>
  <body>
    {% block header %}
    <div class="container header-container">
        <div class="pull-left header-logo">
          <h1>GetGiv</h1>
        </div>
        <div class="pull-right header-login">
          {% block header_login %}
          {% endblock %}
        </div>
    </div>
    {% endblock %}
    {% block content %}
    <div class="container body-container">
      <div class="row">
        <div class="col-md-8 main-column">{% block main %}{% endblock %}</div>
        <div class="col-md-4 sidebar-column">{% block sidebar %}{% endblock %}</div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
